.launch-card {
    display: flex;
    align-items: center;
    width: 280px;
    height: 350px;

    .card-patch {
        width: 100px;
        height: 100px;
        margin: 20px 0;
    }

    .card-name {
        width: 100%;
        margin: 10px 0;
        font-weight: 600;
        white-space: nowrap; 
        text-overflow: ellipsis;
        overflow: hidden;   
    }
    
    .card-rocket {
        margin: 10px 0;
        margin-bottom: auto;
        color: gray
    }

    .card-button {
        width: 95%;
        margin-bottom: 10px;
        border-radius: 8px;
    }
}